<!-- nav bar -->
<mat-toolbar color="primary" class ="navbar">
  <div> Angular Material</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<!-- side nav -->
<mat-sidenav-container>
  <mat-sidenav>Sidenav</mat-sidenav>
</mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>


<!-- trypography -->

<div class= 'mat-display-4'>hello</div>
<div class= 'mat-display-3'>hello</div>
<div class= 'mat-display-2'>hello</div>
<div class= 'mat-display-1'>hello</div>

<!-- or use class mat -typography then use regular html as below -->

<div class= 'mat-typography'>
  <h1>heading for h1</h1>
  <h2>heading for h2</h2>
  <h3>heading for h3</h3>
</div>

<div class= 'mat-headline'>heading for h1</div>
<div class= 'mat-title'>heading for h2</div>
<div class= 'mat-subheading-2'>heading for h3</div>
<div class= 'mat-subheading-1'>heading for h4</div>

<!-- Buttons -->
 <div>
   <button mat-button>click me</button>
   <button mat-raised-button>click me</button>
   <button mat-flat-button>click me</button>
   <button mat-stoke-button>click me</button>

 </div>

 <!-- circular buttons -->

 <div>
   <button mat-icon-button>Icon</button>
   <button mat-fab>icon</button>
   <button mat-mini-fab>icon</button>
 </div>

 <!-- button colors -->
 <div>
   <button color ="primary" mat-raised-button>Primary</button>
   <button color ="accent" mat-raised-button>Accent</button>
   <button color ="Warn" mat-raised-button>Warn</button>
 </div>

 <!-- button toggle -->
<div>
  <mat-button-toggle #toggleBtn checked disableRipple disabled>toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>
<!-- group elements used instead of check boxes -->

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle value='angular'>Angular</mat-button-toggle>
  <mat-button-toggle value='react'>React</mat-button-toggle>
  <mat-button-toggle value='vue'>Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
  
</div>
<!-- Icons -->
<div>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon color ="primary">face</mat-icon>
</div>
<!-- badges -->
<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications==0" >Notifications</span>
</div>
<!-- badges positioning -->
<div>
  <span matBadge="4" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="4" matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="4" matBadgePosition="above before">Notifications</span>
</div>
<!-- badge sizing -->
<span matBadge="4" matBadgeSize="small">Notifications</span>
<span matBadge="4" matBadgeSize="medium">Notifications</span>
<span matBadge="4" matBadgeSize="large" matBadgeOverlap="false">Notifications</span>

<!-- Progress Spinner -->
<div>
<mat-progress-spinner value="60"></mat-progress-spinner>
</div>

<div>
<mat-spinner *ngIf= "showSpinner"></mat-spinner>
<button (click)="loadData()">Load Data</button>
</div>



